gpu_config:
  n_threads: 1024
  people_1_batch: 102400000
  pre_allocated_mem_ratio: 1.5
  population_scale: 1.0

render_config:
  window_width: 1280
  window_height: 720
  display_gui: true
  close_window_on_finish: true
  point_coord: 0.05
  people_per_triangle: 10
  zoom_step: 1.5

debug_config:
  width: 0
  height: 0
  enable_update: true
  enable_debug_text: true
  enable_debug_render: false
  enable_debug_render_text: true

#0 to randomize seed
initial_seed_number: 123456789

starting_date: 2000/01/01
ending_date: 2010/01/01

report_frequency: 30

# is the target calibration year
start_of_comparison_period: 2000/1/1

# Date to start collecting data, 1 year before start of comparison
start_collect_data_day: 365

# Number of days to keep track total number of parasites in population
number_of_tracking_days: 11

days_between_notifications: 30

# Age classes used for reporting age-specific mortality calculations
number_of_age_classes: 15
age_structure: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 20, 60, 100]

# Age structure used when initializing the model at T-0
initial_age_structure: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 25, 35, 45, 55, 65, 100]

raster_db:
  population_raster: "../input/bfa/bfa_init_pop.asc"
  district_raster: "../input/bfa/bfa_admin.asc"
  ecoclimatic_raster: "../input/bfa/bfa_ecozone.asc"
  travel_raster: "../input/bfa/bfa_travel.asc"
##  pr_treatment_under5: "../input/bfa/bfa_treatment.asc"
##  pr_treatment_over5: "../input/bfa/bfa_o5_treatment.asc"
##  beta_raster: "../input/bfa/bfa_beta.asc"
#  p_treatment_for_less_than_5_by_location: [ 0.5 ]
#  p_treatment_for_more_than_5_by_location: [ 0.5 ]
#  beta_by_location: [ 0.73 ]

#  population_raster: "../input/sample/population.asc"
#  district_raster: "../input/sample/district.asc"
#  ecoclimatic_raster: "../input/sample/ecoclimatic.asc"
#  travel_raster: "../input/sample/travel.asc"
#  pr_treatment_under5: "../input/sample/pr_treatment_under5.asc"
#  pr_treatment_over5: "../input/sample/pr_treatment_over5.asc"
#  beta_raster: "../input/sample/beta.asc"
  p_treatment_for_less_than_5_by_location: [ 0.5 ]
  p_treatment_for_more_than_5_by_location: [ 0.5 ]
  beta_by_location: [ 0.73 ]

  cell_size: 5
  age_distribution_by_location: [[0.0449, 0.0449, 0.0449, 0.0449, 0.0315, 0.0315, 0.0315, 0.0315, 0.0315, 0.0268, 0.0268, 0.0268, 0.0268, 0.0268, 0.1990, 0.1251, 0.0855, 0.0560, 0.0346, 0.0289, 0.0000]]
#  p_treatment_for_less_than_5_by_location: [-1]
#  p_treatment_for_more_than_5_by_location: [-1]
#  beta_by_location: [-1]

# Crude Birth Rate: 41.2 based upon INSD 2018 data
birth_rate: 0.0412

# Malaria adjusted, all-causes death rate for Burkina Faso
death_rate_by_age_class: [0.0382, 0.03019, 0.02027, 0.01525, 0.01248, 0.00359, 0.00361, 0.00365, 0.00379, 0.00379, 0.00386, 0.00504, 0.0055, 0.0174, 0.0174]

# probability of death for patients who are not treated or patients who experience a treatment failure (due to drug resistance, or otherwise)
# when received treatment, this rate drop by factor of 10 in code
mortality_when_treatment_fail_by_age_class: [0.040, 0.020, 0.020, 0.020, 0.020, 0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.001, 0.001, 0.001, 0.001]

# Seasonality of malaria, here it is disabled
seasonal_info:
  enable: false
  raster: false
  base: [ 0 ]
  a:    [ 0 ]
  b:    [ 0 ]
  phi:  [ 0 ]

# Movement model and calibration, since there is only one cell it is zeroed out
spatial_model:
  #  name: "Wesolowski"
  #  Wesolowski:
  #    kappa: 0
  #    alpha: 0
  #    beta:  0
  #    gamma: 0
  name: "BurkinaFaso"
  BurkinaFaso:
    alpha: 1.27
    log_rho: 0.25
    tau: 1.342
    capital: 14
    penalty: 12

# Settings that determine how long an individual stays in a given location
circulation_info:
  max_relative_moving_value: 35
  number_of_moving_levels: 100
  moving_level_distribution:
    distribution: Gamma
    Exponential:
      scale: 0.17
    Gamma:
      mean: 5
      sd: 10
  # Percentage of the population selected for movement outside of their cell each timestep
  circulation_percent: 0.00336
  length_of_stay:
    mean: 5
    sd: 10